//backgrondColor
$backgrondP:#0b2b54;
$backgrondS:#6691c9;
$backgrondW:#f3f6f9;
$backgrondHover:#e0e7ef;

//textColor
$TextP:#0b2b54;
$TextS:#6691c9;
$TextW:#fff;
$TextHover:#ddd;

//borderColor
$borderW:#ccc;